In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
database_path = "/content/drive/My Drive/DBs/polynomial_linear_regression/"

In [3]:
database = pd.read_csv(database_path + "Position_Salaries.csv")

In [4]:
database.head(5)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [5]:
X = database.drop(['Position', 'Salary'], axis = 1)
y = database["Salary"]
type(X)

pandas.core.frame.DataFrame

In [6]:
poly_feature = PolynomialFeatures(degree=6)
linear_reg = LinearRegression()

In [7]:
X_poly = poly_feature.fit_transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size = 0.2, random_state = 2)

In [9]:
linear_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
linear_reg.score(X_test, y_test)

0.9527790816500497

In [12]:
linear_reg.predict(poly_feature.fit_transform([[6.5]]))

array([173114.28245909])