In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
database_path = "/content/drive/My Drive/DBs/Support_Vector_Machine/"

In [3]:
database = pd.read_csv(database_path + "Social_Network_Ads.csv")

In [4]:
dummy_db = pd.get_dummies(database['Gender'])
database = pd.concat([database, dummy_db], axis = 1)

In [5]:
database.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Female  Male
0  15624510    Male   19            19000          0       0     1
1  15810944    Male   35            20000          0       0     1
2  15668575  Female   26            43000          0       1     0
3  15603246  Female   27            57000          0       1     0
4  15804002    Male   19            76000          0       0     1

In [6]:
X = database.drop(["User ID","Gender","Purchased"], axis = 1)
y = database["Purchased"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [8]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
#svc_model = SVC(C=1, kernel='linear', random_state = 2)
svc_model = SVC(C=1, kernel='rbf', random_state = 2)

In [10]:
svc_model.fit(X_train, y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=2, shrinking=True, tol=0.001,
    verbose=False)

In [11]:
svc_model.score(X_test, y_test)

0.9125